.logo {
  @include verticalCenter;
  margin: 16px auto;
  width: 200px;
  border-radius: 20px;
  padding: 5px 0;
  box-shadow: $box-shaddow;
  background-color: #333;

  .logo-react {
    height: 40px;
    color: $color-1;
    font-size: 2em;
  }
  h3 {
    margin-left: 10px;
    color: $color-1;
  }
}
